body {
	width: 100%;
	min-height: 100%;
	background-color: #090909;
	margin: 0; padding: 0;
}

#container {
	width: 100%;
	overflow-y: auto;
}

#container ul {
	margin: 0px;
	padding: 5px 0 15px;
	list-style-type: none;
	font-size: 0.8em;
	font-family: Courier;
}

#container ul li {
	position: relative;
	padding: 5px 0 5px 15px;
}

#container ul li {
	color: #CCC;
}

#container ul li.info {
	color: #0ed300;
}

#container ul li.error {
	color: #f7182b;
}

#container ul li span.time {
	position: absolute;
	left: 30px;
	display: inline-block;
	overflow: hidden;
	width: 130px;
	text-align: left;
	color: #555;
}

#container ul li span.ns {
	position: absolute;
	left: 140px;
	display: inline-block;
	overflow: hidden;
	width: 125px;
	text-align: left;
	color: #777;
}

#container ul li span.msg {
	display: inline-block;
	margin-left: 275px;
}

#container ul li:before {
	position: absolute;
	left: -2px;
	content: '-';
	color: #222;
}

#container ul li:nth-child(even) {
	background-color: #111;
}

#container ul li:hover {
	background-color: #222;
}

#container ul li:hover:before {
	position: absolute;
	left: -2px;
	content: '>';
	color: #FFF;
}

#bar {
	padding: 0; margin: 0;
	width: 100%;
	height: 30px;
	background-color: #000;
}

#bar ul {
	list-style-type: none;
	margin: 0; padding: 0;
}

#bar ul li {
	display: inline-block;
	margin: 5px 20px 0 20px;
	color: #000;
	background-color: #777;
	padding: 2px 10px 2px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: Courier;
	font-size: 0.75em;
	cursor: pointer;
}

#bar ul li.active {
	background-color: #0ed300;
	cursor: default;
}